* {
    outline: 0;
}

body {
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.p-lg {
    padding: 32px;
}

.box {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.client-window {
    background-color: #222222 !important;
    color: white;
}

.transparent-background {
    background-color: transparent;
}

.white-background {
    background-color: rgb(255, 255, 255);
}

.font-thin {
    font-weight: 300;
}

md-list-item.selected {
    background-color: #0288d1;
    color: white;
}

md-list-item.selected md-icon {
    color: white;
}

md-list md-list-item.selected button.md-button:not([disabled]):hover {
    background-color: rgb(63, 81, 181);
    color: white;
}


/* avatar */

md-card .md-avatar {
    width: 70px;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 8px;
    border-radius: 50%;
    box-sizing: content-box;
}


/* \avatar */


/* app toolbar */


/*.app-toolbar {
    background-color: white;
    color: black;
}*/


/* \app toolbar */


/* charts */

#chart {
    width: 100%;
    height: 400px;
    padding-bottom: 20px;
}


/* \charts */


/* logo */

.logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}


/* \logo */


/* online-indicator */

.online-indicator {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #cddc39;
    -webkit-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s;
    -moz-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s;
    -o-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s;
    transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s;
}

md-list-item.selected .online-indicator {
    background-color: #cddc39;
}

md-list-item.selected:hover .online-indicator {
    background-color: #cddc39;
}


/* \online-indicator */


/* background color */

.background-light-green {
    background-color: #8bc34a;
}

.background-green {
    background-color: #259b24;
}

.background-light-grey {
    background-color: #e0e0e0;
}

.light-green {
    color: #8bc34a;
}

.light-grey {
    color: rgb(240, 240, 240) !important;
}


/* icons */


/* Rules for sizing the icon. */

.material-icons.md-10 {
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.material-icons.md-18 {
    font-size: 18px;
    width: 18px;
    height: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-64 {
    font-size: 64px;
}

.material-icons.md-72 {
    font-size: 72px;
}

.material-icons.md-84 {
    font-size: 84px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/* \icons */


/* animation */

.animate-hide-left {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transform: translateX(0);
}

.animate-hide-left.ng-hide {
    transform: translateX(-100%);
}

.animate-hide-right {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transform: translateX(0);
}

.animate-hide-right.ng-hide {
    transform: translateX(100%);
}

.animate-hide-up {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transform: translateY(0);
}

.animate-hide-up.ng-hide {
    transform: translateY(-100%);
}

.animate-fade-down {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    opacity: 1;
    transform: translateX(0);
}

.animate-fade-down.ng-hide {
    transform: translateY(20%);
    opacity: 0;
}


/* \animation */


/* carbon calc */

.card {
    border-radius: 3px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.6s;
    -moz-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.6s;
    -o-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.6s;
    transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.6s;
    transition: all ease 0.6s;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    color: white;
}

.card.result.ng-enter {
    position: relative;
    left: -300px;
    opacity: 0;
}

.card.result.ng-enter.ng-enter-active {
    left: 0px;
    opacity: 1;
}

.card.result.ng-leave {
    position: relative;
    left: 0px;
    opacity: 1;
}

.card.result.ng-leave.ng-leave-active {
    left: -300px;
    opacity: 0;
}

.card:focus {
    outline: 0;
}

.card-column .card:hover {
    -ms-transform: scale(1.05, 1.05);
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

#results.card-column .card:hover {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    cursor: default;
}

.card.zero {
    height: auto !important;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white !important;
    border-width: 1px;
    border-style: dashed;
}

.card.tiny:not(.zero) {
    font-size: 10px;
    font-weight: 600;
}

.card.small:not(.tiny):not(.zero) {
    font-size: 12px;
    font-weight: 400;
}

.card.medium:not(.small):not(.tiny):not(.zero) {
    font-size: 13px;
    font-weight: 400;
}

.card.result.zero {
    display: none;
}


/* card column */

#main.starting .card-column {
    left: 100%;
}

#main.results .card-column {
    left: 0px !important;
}

.card-column>.heading {
    display: table;
    margin-bottom: 20px;
}

.card-column>.heading>i {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.8em;
}

.card-column>.heading>div {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 200;
    text-transform: uppercase;
}

.card-column>.footer {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 10px;
}

.card-column>.footer>i {
    float: left;
    font-size: 2em;
}

.card-column>.footer>a {
    float: right;
    line-height: 2em;
}


/* \\\ card column */

.card.result {
    margin-top: 0px;
}

.card-column {
    padding: 10px;
    position: absolute;
    width: 280px;
    height: 100%;
    background-color: white;
    -webkit-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.8s;
    -moz-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.8s;
    -o-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.8s;
    transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.8s;
}

@media (max-width: 700px) {
    .card-column {
        width: calc(100% - 60px);
    }
}

.card-column:hover {
    cursor: pointer;
}

.card-column:focus {
    outline: 0;
}

.card-column>.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px;
    background-color: white;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    -webkit-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.6s;
    -moz-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.6s;
    -o-transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.6s;
    transition: all cubic-bezier(0.25, 0.8, 0.25, 1) 0.6s;
}

.card-column.selected>.mask {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    visibility: hidden;
}

.card-column.result {
    background-color: #333333;
    cursor: default;
}

@media (max-width: 700px) {
    #main.calculating #results.card-column {
        left: calc(100% - 60px);
    }
    #main.calculating #results .card {
        color: rgba(255, 255, 255, 0);
        font-size: 10px;
    }
    #main.calculating #results .totalFootprint {
        color: rgba(255, 255, 255, 0);
        text-shadow: none;
    }
    #results .totalFootprintDesc {
        display: none;
    }
}


/* results */

#results {
    width: 280px;
    background-repeat: no-repeat;
    background-color: #333333;
}

#results .result-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 0;
}

#main.initializing #results,
#main.starting #results {
    left: 100%;
}

#main.calculating #results {
    left: calc(100% - 280px);
}

#main.results #results {
    left: 0;
    width: 100%;
}

#main.results #results .result-background {
    opacity: 0.8;
}

#results .result-background {
    background-size: cover;
}

#results .wrapper {
    color: white;
    position: absolute;
    top: 10px;
}

#results .baseline-wrapper {
    position: absolute;
    left: 270px;
    right: 10px;
    bottom: 10px;
    
    /* replace layout="row" */
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#results .mobile-baseline-desc {
    margin-left: 5px;
    display: none;
    text-transform: uppercase;
    font-size: 12px;
}

@media (max-width: 700px) {
    #results .baseline-wrapper {
        left: 205px;
        display: block;
        height: 100%;
    }
    
    #results .baseline-wrapper .baseline {
        position: absolute;
        width: calc(100% - 10px);
        bottom: 0;
    }
    
    #results .baseline-wrapper .baseline .baseline-card {
        background-color: transparent !important;
        border-top: 2px solid white;
        border-radius: 0;
        color: transparent !important;
    }
    
    #results .totalFootprint {
        font-size: 32px;
    }
    
    #results .mobile-baseline-desc {
        display: inline-block;
    }
}

#results .baseline-wrapper .card.result {
    text-transform: uppercase;
    font-weight: 800;
}

#results .title {
    font-weight: 800;
    font-size: 100px;
    line-height: 110px;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px black;
    text-align: right;
}

#results .subtitle {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 45px;
    text-shadow: 0px 0px 4px black;
    text-align: right;
}

#results .subtitle2 {
    font-weight: 200;
    font-size: 32px;
    line-height: 36px;
    text-shadow: 0px 0px 4px black;
    text-align: right;
}

#results #buttonWrapper {
    position: relative;
}

#results .result-card-container {
    width: 260px;
    overflow-x: visible;
    z-index: 100;
    padding-top: 40px;
}

@media (max-width: 700px) {
    #results .result-card-container {
        width: 200px;
    }
}

#results .result-button-container {
    top: 10px;
    position: absolute;
    width: 260px;
    z-index: 200;
}


/* title page */

#title .title-background {
    color: white;
    background-size: cover;
    padding: 30px;
}

#title .title {
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
}

#title .subtitle {
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.35em;
    text-align: center;
}

#title .title-buttons {
    margin-top: 30px;
    text-align: center;
}

#title .start-button {
    padding: 10px 30px;
    font-size: 1.7em;
}

@media (max-width: 700px) {
    #title .title {
        font-size: 2em;
        line-height: 1em;
        margin-bottom: 0.7em;
    }
    #title .subtitle {
        font-size: 1.2em;
        line-height: 1.2em;
    }
}


/* \\\ title page */


/* footprint */

.totalFootprint {
    font-size: 40px;
    font-weight: 800;
    text-shadow: 0.5px 0.5px 2px #000000;
}

.totalFootprintDesc {
    font-size: 16px;
    margin: 25px 0 10px 5px;
    opacity: 0.9;
    font-weight: 400;
    text-shadow: 0.5px 0.5px 2px #000000;
}

#fbShareBtn {
    position: absolute;
    right: 170px;
    margin-right: 0;
}

#pledgeBtn {
    position: absolute;
    right: 0;
    margin-right: 0;
}

@media (max-width: 700px) {
    #results .wrapper {
        margin-bottom: -50px;
    }
    #results .title {
        font-size: 40px;
        line-height: 50px;
    }
    #results .subtitle {
        font-size: 16px;
        line-height: 20px;
    }
    #results .subtitle2 {
        font-size: 14px;
        line-height: 16px;
    }
    #fbShareBtn {
        right: 0;
    }
    #pledgeBtn {
        top: 40px;
        right: 0;
    }
}

#main {
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 1;
}

#main.initializing {
    opacity: 0;
}

#progress {
    position: fixed;
    z-index: 0;
}

#progress md-progress-circular {
    opacity: 1;
}

#progress:not(.initializing) md-progress-circular {
    visibility: hidden;
    opacity: 0;
}


/* nav buttons */

.nav-button {
    position: absolute;
    bottom: 50px;
    width: 70px;
    height: 70px;
    z-index: 300;
    border-radius: 50%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.2);
    visibility: hidden;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
}

#main.calculating .nav-button {
    visibility: visible;
    opacity: 0.9;
}

.nav-button i {
    font-size: 70px;
}

.nav-button.prev {
    left: 10px;
}

.nav-button.next {
    right: 70px;
}


/* \\\ nav buttons */
