* {
    outline: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.p-lg {
    padding: 32px;
}

.box {
    display: table;
    width: 100%;
    height: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.client-window {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #222222 !important;
    color: white;
}

.transparent-background {
    background-color: transparent;
}

.white-background {
    background-color: rgb(255, 255, 255);
}

.font-thin {
    font-weight: 300;
}

md-list-item.selected {
    background-color: #0288d1;
    color: white;
}

md-list-item.selected md-icon {
    color: white;
}

md-list md-list-item.selected button.md-button:not([disabled]):hover {
    background-color: rgb(63, 81, 181);
    color: white;
}


/* background color */

.background-light-green {
    background-color: #8bc34a;
}

.background-green {
    background-color: #259b24;
}

.background-light-grey {
    background-color: #e0e0e0;
}

.light-green {
    color: #8bc34a;
}

.light-grey {
    color: rgb(240, 240, 240) !important;
}


/* icons */


/* Rules for sizing the icon. */

.material-icons.md-10 {
    font-size: 10px;
    width: 10px;
    height: 10px;
}

.material-icons.md-18 {
    font-size: 18px;
    width: 18px;
    height: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-64 {
    font-size: 64px;
}

.material-icons.md-72 {
    font-size: 72px;
}

.material-icons.md-84 {
    font-size: 84px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}


/* \icons */


/* carbon calc */

.card {
    border-radius: 3px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    -webkit-transition: -webkit-transform ease-in-out 0.5s, background-color ease-in-out 0.35s, opacity ease-in-out 0.35s;
    -moz-transition: -moz-transform ease-in-out 0.5s, background-color ease-in-out 0.35s, opacity ease-in-out 0.35s;
    -o-transition: -o-transform ease-in-out 0.5s, background-color ease-in-out 0.35s, opacity ease-in-out 0.35s;
    transition: transform ease-in-out 0.5s, -ms-transform ease-in-out 0.35s, background-color ease-in-out 0.8s, opacity ease-in-out 0.35s;
    text-transform: uppercase;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
}

.card {
    min-height: 15px;
}

#results .card {
    min-height: 0;
}

.card.result.ng-enter {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.card.result.ng-enter.ng-enter-active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.card.result.ng-leave {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.card.result.ng-leave.ng-leave-active {
    -webkit-transform: translate3d(-300px, 0, 0);
    -moz-transform: translate3d(-300px, 0, 0);
    -o-transform: translate3d(-300px, 0, 0);
    -ms-transform: translate3d(-300px, 0, 0);
    transform: translate3d(-300px, 0, 0);
    opacity: 0;
}

.card:focus {
    outline: 0;
}

.card-column .card:hover {
    opacity: 0.5;
}

#results.card-column .card:hover {
    opacity: 1;
}

@media (max-width: 700px) {
    .card-column .card:hover {
        opacity: 1;
    }
}

#results.card-column .card:hover {
    -ms-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
    cursor: default;
}

.card.zero {
    height: auto !important;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white !important;
    border-width: 1px;
    border-style: dashed;
}

.card.tiny:not(.zero) {
    font-size: 10px;
    font-weight: 600;
}

.card.small:not(.tiny):not(.zero) {
    font-size: 12px;
    font-weight: 400;
}

.card.medium:not(.small):not(.tiny):not(.zero) {
    font-size: 13px;
    font-weight: 400;
}

.card.result.zero {
    display: none;
}


/* card column */

.card-column {
    position: absolute;
    padding: 10px;
    width: 280px;
    height: 100%;
    left: 0;
    background-color: white;
    -webkit-transition: -webkit-transform ease 0.8s;
    -moz-transition: -moz-transform ease 0.8s;
    -o-transition: -o-transform ease 0.8s;
    transition: transform ease 0.8s, -ms-transform ease 0.8s;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
    /* initially put them out of the screen to avoid ugly initial animation */
    -webkit-transform: translate3d(3000px, 0, 0);
    -moz-transform: translate3d(3000px, 0, 0);
    -o-transform: translate3d(3000px, 0, 0);
    -ms-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
}

@media (max-width: 700px) {
    .card-column {
        width: calc(100% - 40px);
        border-left: 1px solid #e0e0e0;
        box-shadow: none;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    #results.card-column {
        border: none;
    }
}

.card-column>.heading {
    display: table;
    margin-bottom: 20px;
}

.card-column>.heading>i {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.8em;
}

.card-column>.heading>div {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: 200;
    text-transform: uppercase;
}

.card-column>.footer {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 10px;
}

.card-column>.footer>i {
    float: left;
    font-size: 2em;
}

.card-column>.footer>a {
    float: right;
    line-height: 2em;
}

@media (max-width: 700px) {
    .card-column>.footer {
        position: relative;
        width: 100%;
        bottom: initial;
    }
    .card-column>.footer>i {
        display: none;
    }
}

.card.result {
    margin-top: 0px;
}

.card-column:hover {
    cursor: pointer;
}

.card-column:focus {
    outline: 0;
}

.card-column>.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px;
    background-color: white;
    opacity: 0.8;
    -webkit-transition: opacity ease-in-out 0.5s, visibility ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s, visibility ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s, visibility ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s, visibility ease-in-out 0.5s;
}

.card-column.selected>.mask {
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    visibility: hidden;
}

.card-column.result {
    background-color: #333333;
    cursor: default;
}

@media (max-width: 700px) {
    #main.calculating #results .card {
        color: rgba(255, 255, 255, 0);
        font-size: 10px;
    }
    #main.calculating #results .totalFootprint {
        color: rgba(255, 255, 255, 0);
        text-shadow: none;
    }
    #results .totalFootprintDesc {
        display: none;
    }
}


/* results */

.results-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    visibility: hidden;
}

#main.partial-results .results-mask,
#main.results .results-mask {
    visibility: visible;
}

#results {
    width: 100%;
    background-repeat: no-repeat;
    background-color: #333333;
}

@media (max-width: 700px) {
    #results {
        background-color: #333333;
    }
}

#results .result-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 0;
}

#main.results #results .result-background {
    background-repeat: no-repeat;
    opacity: 1;
}


/* Hack - instead of "background-size: cover", so that html2canvas can capture the background */

#main.portrait #results .result-background {
    background-size: auto 100%;
}

#main.landscape #results .result-background {
    background-size: 100% auto;
}


/* \\\ Hack */

#results .wrapper {
    color: white;
    position: absolute;
    top: 10px;
}

#results .baseline-wrapper {
    position: absolute;
    left: 270px;
    right: 10px;
    bottom: 10px;
    /* replace layout="row" */
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#results .mobile-baseline-desc {
    display: none;
}

#results .baseline {
    flex: 1;
}

@media (max-width: 700px) {
    #results .baseline-wrapper {
        left: 0;
        display: block;
        height: 100%;
    }
    #results .baseline-wrapper .baseline {
        position: absolute;
        width: calc(100% - 10px);
        bottom: 0;
        flex: none;
    }
    #results .baseline-wrapper .baseline .baseline-card {
        background-color: transparent !important;
        border-top: 2px dashed white;
        border-radius: 0;
        color: transparent !important;
    }
    #results .totalFootprint {
        text-align: right;
        font-size: 32px;
    }
    #results .mobile-baseline-desc {
        display: block;
        float: right;
        margin-right: 5px;
        margin-top: 20px;
        text-transform: uppercase;
        font-size: 12px;
    }
    #results .baseline-total-footprint-amount {
        float: right;
    }
}

@media (min-width: 701px) {
    #results .baseline-total-footprint-amount {
        line-height: 10px;
        margin-bottom: 15px;
    }
}

#results .baseline-wrapper .card.result {
    text-transform: uppercase;
    font-weight: 800;
}

#results .title {
    font-weight: 800;
    font-size: 100px;
    line-height: 110px;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px black;
    text-align: right;
}

#results .subtitle {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 45px;
    text-shadow: 0px 0px 4px black;
    text-align: right;
}

#results .subtitle2 {
    font-weight: 200;
    font-size: 32px;
    line-height: 36px;
    text-shadow: 0px 0px 4px black;
    text-align: right;
}

#results #buttonWrapper {
    position: relative;
}

#results .result-card-container {
    width: 260px;
    overflow-x: visible;
    z-index: 100;
    padding-top: 40px;
    opacity: 0.99;
    /* fixing a weird problem with html2canvas where it cannot render the cards */
}

@media (max-width: 700px) {
    #results .result-card-container {
        width: 150px;
    }
}

#results .result-button-container {
    top: 10px;
    position: absolute;
    width: 260px;
    z-index: 2300;
}


/* title page */

#title .title-background {
    color: white;
    background-size: cover;
    padding: 30px;
}

#title .title {
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
}

#title .subtitle {
    font-weight: 200;
    font-size: 1.5em;
    line-height: 1.35em;
    text-align: center;
}

#title .title-buttons {
    margin-top: 30px;
    text-align: center;
}

#title .start-button {
    padding: 10px 30px;
    font-size: 1.7em;
}

@media (max-width: 700px) {
    #title .title {
        font-size: 2em;
        line-height: 1em;
        margin-bottom: 0.7em;
    }
    #title .subtitle {
        font-size: 1.2em;
        line-height: 1.2em;
    }
}


/* \\\ title page */


/* footprint */

.totalFootprint {
    font-size: 40px;
    font-weight: 800;
    text-shadow: 0.5px 0.5px 2px #000000;
}

.totalFootprintDesc {
    font-size: 16px;
    margin: 25px 0 10px 5px;
    opacity: 0.9;
    font-weight: 400;
    text-shadow: 0.5px 0.5px 2px #000000;
}

#fbShareBtn,
#pledgeBtn {
    float: right;
    margin-right: 4px;
    margin-left: 4px;
}

@media (max-width: 700px) {
    #results .wrapper {
        margin-bottom: -50px;
    }
    #results .title {
        font-size: 32px;
        line-height: 36px;
    }
    #results .subtitle {
        font-size: 16px;
        line-height: 20px;
    }
    #results .subtitle2 {
        font-size: 14px;
        line-height: 16px;
    }
}

#main {
    -webkit-transition: opacity ease-in-out 0.8s;
    -moz-transition: opacity ease-in-out 0.8s;
    -o-transition: opacity ease-in-out 0.8s;
    transition: opacity ease-in-out 0.8s;
    opacity: 1;
}

#main.initializing {
    opacity: 0;
    visibility: hidden;
}

#progress {
    position: fixed;
    z-index: 0;
}

#progress md-progress-circular {
    opacity: 1;
}

#progress:not(.initializing) md-progress-circular {
    display: none;
    visibility: hidden;
    opacity: 0;
}


/* nav buttons */

.nav-button {
    position: absolute;
    bottom: 10px;
    width: 60px;
    height: 120px;
    z-index: 300;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
    overflow: hidden;
    cursor: pointer;
}

.nav-button:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 200%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.nav-button:after {
    position: relative;
    top: -100%;
    font-size: 90px;
    line-height: 120px;
    margin: 0;
    padding: 0;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.nav-button.prev {
    left: 0;
}

.nav-button.prev:before {
    left: -100%;
}

.nav-button.prev:after {
    content: 'chevron_left';
    right: 50%;
}

.nav-button.next {
    right: 280px;
}

.nav-button.next:after {
    content: 'chevron_right';
}

#main.calculating .nav-button {
    visibility: visible;
    opacity: 0.9;
}

.nav-button i {
    font-size: 70px;
}

@media (max-width: 700px) {
    .nav-button.next {
        right: 40px;
    }
}


/* \\\ nav buttons */