<md-dialog ng-cloak>
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Share To Facebook</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <div class="md-dialog-content">
      <p>
        With your permission, the result on this screen will be shared to your facebook account.
      </p>
      <md-input-container class="md-block">
        <label>Status Message</label>
        <textarea ng-model="fbMessage" columns="1" md-maxlength="1024"></textarea>
      </md-input-container>
      <img style="margin: auto; max-width: 100%;" ng-src="{{ fbImage }}"/>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" >
     Cancel
    </md-button>
    <md-button ng-click="answer(fbMessage)" style="margin-right:20px;" >
      Share
    </md-button>
  </div>
  </form>
</md-dialog>